@font-face {
    font-family: title;
    src: url(../media/fonts/Smoothies.otf);
}
@font-face {
    font-family: usual;
    src: url(../media/fonts/Remond-Regular.otf);
}
span{
    font-family: title!important;
}
body{
    font-family: usual;
}